<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Tracker</title>
    <!-- CSS -->
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <h1>Exercise tracker</h1>
      <form action="/api/users" method="POST">
        <h3>Create a New User</h3>
        <p><code>POST /api/users</code></p>
        <input id="uname" type="text" name="username" placeholder="username" class="form-control" />
        <input type="submit" value="Submit" class="btn btn-block btn-primary" />
      </form>
      <form id="exercise-form" method="POST">
        <h3>Add exercises</h3>
        <p><code>POST /api/users/:_id/exercises</code></p>
        <div class="form-group">
        <input id="uid" type="text" name=":_id" placeholder=":_id" class="form-control"/>
        <input id="desc" type="text" name="description" placeholder="description*" class="form-control"/>
        <input id="dur" type="text" name="duration" placeholder="duration* (mins.)" class="form-control"/>
        <input id="date" type="text" name="date" placeholder="date (yyyy-mm-dd)" class="form-control"/>
        <input type="submit" value="Submit" class="btn btn-block btn-primary"/>
        </div>
      </form>
      <p>
        <strong>GET user's exercise log: </strong>
        <code>GET /api/users/:_id/logs?[from][&amp;to][&amp;limit]</code>
      </p>
      <p><strong>[ ]</strong> = optional</p>
      <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
    </div>
    <script>
      const exerciseForm = document.getElementById("exercise-form");

      exerciseForm.addEventListener("submit", () => {
        const userId = document.getElementById("uid").value;
        exerciseForm.action = `/api/users/${userId}/exercises`;

        exerciseForm.submit();
      });
    </script>
  </body>
</html>