<!DOCTYPE html>

<html>
  <head>
    <!-- note "http:" removed as font not loading on heroku -->
    <link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
      <link href="style.css" rel="stylesheet" type="text/css">
      <title>Back End Development and APIs Project Portfolio</title>
  </head>

  <body>
    <div class="container">
      <h1>Back End Development and APIs Project Portfolio</h1>
      <h4 class="name"><a href="https://ketwork.github.io/profile/">KET PATEL </a></h4>
      <hr>
      <blockquote>
        <h3>★ <a href="/timestamp">Timestamp Microservice</a></h3>
        <strong>User stories :</strong>
        <ol>
          <li>I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016)</li>
          <li>If it does, it returns both the Unix timestamp and the natural language form of that date.</li>
          <li>If it does not contain a date or Unix timestamp, it returns null for those properties.</li>
        </ol>
      </blockquote>
      <blockquote>
        <h3>★ <a href="/requestHeaderParser">Request Header Parser</a></h3>
        <strong>User stories :</strong>
        <ol>
          <li>I can get the IP address, language and operating system for my browser.</li>
        </ol>
      </blockquote>
      <blockquote>
        <h3>★ <a href="/urlShortener">URL Shortener</a></h3>
        <strong>User stories :</strong>
        <ol>
          <li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li>
          <li>If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.</li>
          <li>When I visit that shortened URL, it will redirect me to my original link.</li>
        </ol>
      </blockquote>
      <blockquote>
        <h3>★ <a href="/exercise-tracker">Excercise tracker</a></h3>
        <strong>User stories :</strong>
        <!-- <span></span> -->
        <ol>
          <li>I can enter a username on the form and a new user will be created in the database. The JSON response will contain username and ID properties.</li>
          <li>I can get a list of all the users at /api/users.</li>
          <li>Exercises can be added to the user with the user id. If no date is supplied, the current date will be used.</li>
          <li>The response returned from POST /api/users/:_id/exercises will be the user object with the exercise fields added.</li>
          <li>I can make a GET request to /api/users/:_id/logs to retrieve a full exercise log of any user.</li>
          <li>I will also get count property representing the number of exercises that belong to that user.</li>
          <li>I can add from, to and limit parameters to a GET /api/users/:_id/logs request to retrieve part of the log of any user.</li>
        </ol>
      </blockquote>
  </div>
  </body>
</html>
