<html>
  <head>
    <title>URL Shortener Microservice</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <link href="url.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">Enter URL:</label>
            <input id="url_input" type="text" name="url" value="https://ketwork.github.io/profile/" />
            <input type="submit" value="SHORTEN" />
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      
    </footer>
  </body>
</html>